:root {
  


}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------------------------------------------------------------header */
.header-logo{
  font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
color: #2E2F42;
text-decoration: none;
}



.header-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  
}



.header-list .header-list-text {
  color: #2e2f42;
text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  
}

.header-list .header-list-text:is(:hover, :focus) {
  color: #404bbf;
  
}

.header-adress .header-adress-list .adress-info {
  color: #434455;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  
}

.header-adress .header-adress-list .adress-info:is(:focus, :hover) {
  color: #404bbf;
}

/* ------------------------------------------------------------------------------------MAIN */
.section-one {
  background-color: #2e2f42;
}

.section-one-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}

.section-one .section-one-button {
  background-color: #4d5ae5;
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.section-one .section-one-button:is(:focus, :hover) {
  background-color: #404bbf;
  color: #ffffff;
}

.main-description-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.main-description-text {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
}

.our-team-list {
  background-color: #ffffff;
}

.team-title {
  color: #2e2f42;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.section-three-title{
  font-size: 36px;
line-height: 40px;
font-weight: 700;
color: #2e2f42;
}



.our-team-box .our-team-title{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2E2F42;
}

.our-team-box {
  background-color: #f4f4fd;
}

/* ----------------------------------------------------------------------------------FOOTER */

.footer-box .footer-logo{
  font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: #F4F4FD;
text-decoration: none;
letter-spacing: 0.03em;
}


.footer-web{
  color: #4D5AE5;



}


.footer-box {
  background-color: #2e2f42;
}

.footer-box-text {
  color: #e7e9fc;

  
  font-size: 16px;
  line-height: 24px;
}



/* --------------------------------------------------portfolio */
.button-list .btn-text {
  color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #f4f4fd;
  cursor: pointer;
}

.button-list .btn-text:is(:hover, :focus) {
  background-color: #404bbf;
  color: #ffffff;
}




