:root {
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --text: #434455;
  --background: #FFFFFF;
  --focus-blue: #404BBF;
  --background-black: #2E2F42;
  --our-team-back: #F4F4FD;
  --footer-text: #E7E9FC;
  --btn-portfolio-back-primary: #F4F4FD;





}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------------------------------------------------------------header */
.header-logo{
  font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;

text-decoration: none;
color: var(--dark);
}



.header-web {
  font-family: "Raleway", sans-serif;
  
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-brand)
  
}



.header-list .header-list-text {
  
text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark);
  
}

.header-list .header-list-text:is(:hover, :focus) {
  color: var(--focus-blue);
  
}

.header-adress .header-adress-list .adress-info {
  
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
  
}

.header-adress .header-adress-list .adress-info:is(:focus, :hover) {
  color: var(--focus-blue);
}
  

/* ------------------------------------------------------------------------------------MAIN */
.section-one {
  background-color: var(--background-black)
}

.section-one-title {
  
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--background);
}

.section-one .section-one-button {
 
   

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: var(--background);
  background-color: var(--primary-brand);
}

.section-one .section-one-button:is(:focus, :hover) {
  background-color: var(--pressed-state);
  
  
}

.main-description-title {
 
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark);
}

.main-description-text {
  
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}

.our-team-list {
  background-color: var(--background);
}



.section-three-title{
  font-size: 36px;
line-height: 40px;
font-weight: 700;
color: var(--dark);
}



.our-team-box .our-team-title{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--dark);
  
}

.our-team-box {
  background-color: var(--our-team-back)
}

/* ----------------------------------------------------------------------------------FOOTER */

.footer-box .footer-logo{
  font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;

text-decoration: none;
letter-spacing: 0.03em;
color: var(--our-team-back);
}


.footer-web{
  color: var(--primary-brand);




}


.footer-box {
  background-color: var(--background-black);
  
}

.footer-box-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--footer-text);
}



/* --------------------------------------------------portfolio */
.button-list .btn-text {
  
  font-family: "Roboto", sans-serif;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
background-color: var(--btn-portfolio-back-primary);
color: var(--primary-brand);


  
  
  
  
}

.button-list .btn-text:is(:hover, :focus) {
  background-color: var(--focus-blue);
  color: var(--background);

  
}




